[submodule "bitacoras/MasaMasita"]
	path = bitacoras/MasaMasita
	url = https://github.com/MasaMasita/Taller-Electr-nica-Digital
[submodule "bitacoras/Martobrave"]
	path = bitacoras/Martobrave
	url = https://github.com/Martobrave/taco122-037-bitacora-martobrave
[submodule "bitacoras/koydfripp"]
	path = bitacoras/koydfripp
	url = https://github.com/koydfripp/-TACO122-037-bitacora-koydfripp-
[submodule "bitacoras/cukis666"]
	path = bitacoras/cukis666
	url = https://github.com/cukis666/cukis
[submodule "bitacoras/404-gabi"]
	path = bitacoras/404-gabi
	url = https://github.com/404-gabi/taco122-037-bitacora-404-gabi
[submodule "bitacoras/emilianojc"]
	path = bitacoras/emilianojc
	url = https://github.com/emilianojc/bit-cora-Emiliano-
[submodule "bitacoras/Criis70"]
	path = bitacoras/Criis70
	url = https://github.com/Criis70/Proyecto-obra-trabajo-del-semestre.-Video-electr-nica-.-
[submodule "bitacoras/Markoook"]
	path = bitacoras/Markoook
	url = https://github.com/Markoook/taco122-037-bitacora-mark
[submodule "bitacoras/gemagarate"]
	path = bitacoras/gemagarate
	url = https://github.com/gemagarate/taco122-037-bitacora-gemagarate
[submodule "bitacoras/tarmiii"]
	path = bitacoras/tarmiii
	url = https://github.com/tarmiii/TACO122-137-BITACORA-TARMIII
[submodule "bitacoras/sagiris2003"]
	path = bitacoras/sagiris2003
	url = https://github.com/sagiris2003/taco122-037-bitacora-sagiris2003
[submodule "bitacoras/volodoro"]
	path = bitacoras/volodoro
	url = https://github.com/volodoro/Bitacora-TACO122
[submodule "bitacoras/Ciyecm"]
	path = bitacoras/Ciyecm
	url = https://github.com/Ciyecm/Bit-cora-Programaci-n-MISAA
[submodule "bitacoras/sonoboya"]
	path = bitacoras/sonoboya
	url = https://github.com/sonoboya/TACO-electronica2025
[submodule "bitacoras/felipardo759-dot"]
	path = bitacoras/felipardo759-dot
	url = https://github.com/felipardo759-dot/Felipe-Olivares/
[submodule "bitacoras/GatoRodriguez"]
	path = bitacoras/GatoRodriguez
	url = https://github.com/GatoRodriguez/TACO122-037-Bitacora-GatoRodriguez
